*{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

.header{
    display: flex;
    .keyboard-modal{
        position: absolute;
        width: 50%;
        height: 40%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 1px 1px 2px gray;
        background: white;
        .body{
            display: flex;
            flex-direction: row;
            .sides{
                width: 40%;
                padding: 20px;
                color: rgb(61, 61, 61);
                .title{
                    padding: 10px 20px 15px 20px;
                    border-bottom: 0.5px solid;
                }
                .keys{
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 20px 10px 20px;
                    border-bottom: 0.5px solid;
                }
            }
        }
        .footer{
            display: flex;
            justify-content: flex-end;
            div{
                padding: 10px;
                color: blue;
                font-weight: 600;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        
    }
    .setting-modal{
        display: flex;
        justify-content: flex-end;
        .set-box{
            background: white;
            top: 50px;
            width: 20%;
            height: 500px;
            box-shadow: 1px 1px 2px gray;
            position: absolute;
            *{
                margin: 10px;
                transition: 0.1s;
                &:hover{
                    cursor: pointer;
                }
            }
            .restric{
                display: flex;
                justify-content: space-between;
            }
            .loc{
                display: flex;
                justify-content: space-between;
            }
            .key{
                padding: 10px;
                &:hover{
                    background: rgba(128, 128, 128, 0.5);
                }
            }
        }
    }
}

#menu-btn{
    margin-top: 10px;
    margin-left: 20px;
}

.hamburger:hover, .yt-image:hover{
    cursor: pointer;
}

.material-icons{
    cursor: pointer;
}

input[type=text]{
    padding: 7px;
}
.yt-image{
    width: 100px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 3vw;
}
.yt-text{
    color: black;
    font-family: Helvetica;
}

a:link {
    text-decoration: none;
}

.btn-search{
    border: none;
    background: none;
    position: relative;
    &:hover{
        cursor: pointer;
    }
}
.btn-search img{
    width: 15px;
    background: rgb(207, 207, 207);
    opacity: 0.7;
    margin-top: 5px;
    padding-top: 9px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 9px;
    position: absolute;
    transform: translate(-0%,-15%);
    border-radius: 0px 2px 2px 0px;
    transition: 0.1s;
}
.btn-search img:hover{
    opacity: 1;
    box-shadow: 2px 2px 3px gray;
}

.search-bar{
    width: 525px;
}

.search-form{
    padding-right: 19vw;
    margin-top: 5px;
    .auto{
        position: absolute;
        width: 543px;
        box-shadow: -1px -1px 5px gray;
        background: white;
        ul{
            list-style: none;
            :hover{
                background: gray;
                cursor: pointer;
            }
        }
    }
}

.side-bar-list{
    list-style: none;
    position: fixed;
    width: 230px;
    height: 91vh;
    margin: 0;
    padding: 0;
    left: -230px;
    user-select: none;
    overflow-x: auto;
    z-index: 1;
    transition: 0.3s ease;
    background: white;
    overflow-x: hidden;
    .btns{
        display: flex;
        align-items: center;
    }
}

.side-bar-list li:hover{
    background-color: gray;
}

.side-bar{
    z-index: 0;
}

.side-bar-list a{
    text-decoration: none;
    font-family: 'Segoe UI';
}

.side-bar-list li{
    list-style: none;
    padding: 10px;
    transition: 0.1s;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
}

.bell-icon{
    display: flex;
    justify-content: flex-end;
}

.apps-icon{
    display: flex;
    justify-content: flex-end;
}

.sign-in-button{
    color: blue;
    padding-top: 0px;
}
.sign-in-components i{
    color: blue;
}
.sign-in-components{
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid blue;
    height: 25px;
    margin-top: 10px;
    position: relative;
    bottom: 5px;
}
.sign-in-components:hover{
    background: rgb(121, 121, 255);
}

.upload{
    margin-left: 0px;
}
.upload, .apps, .setting{
    margin-right: 20px;
}
.upload, .apps, .setting{
    margin-top: 10px;
}

.pp{
   
    img{
        border-radius: 50px;
        width: 24px;
        margin-right: 20px;
        height: 24px;
    }
    .name{
        font-size: 14px;
    }
}
.container{
    // width: 46px;
    // height: 46px;
    display: flex;
    align-items: center;
    padding: 0px 24px;
    margin: 20px 0px;
    a{
        display: flex;
        align-items: center;
    }
}
.subs{
    .channels{
    }
}

.setting{
    .notif-container{
        position: relative;
        .notif-modal{
            height: 20%;
            position: absolute;
            background: white;
            height: 500px;
            left: -320px;
            width: 350px;
            transition: 0.5s;
            box-shadow: 0px 0px 2px gray;
            &:hover{
                box-shadow: 2px 2px 10px gray;
            }
            .box{
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 500px;
                overflow-y: scroll;
                div{
                    padding: 10px;
                }
                .header{
                    height: 50px;
                    display: flex;
                    align-items: center;
                    margin-left: 16px;
                }
            }
        }
    }
}

.user-pp img{
    width: 30px;
    border-radius: 50%;
    margin-top: 8px;
}

.gray-screen{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    display: none;
    opacity: 0;
    transition: 0.3s ease;
    animation: 0.5s;
}
.userMenu{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 95%;
    margin-top: 50px;
    .userProfile{
        height: 100%;
        border-radius: 1px;
        display: flex;
        padding: 10px;
        border: 0.1px solid;
        background: white;
        img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .listMenu{
            margin-top: 20px;
            list-style: none;
            li{
                cursor: pointer;
                &:hover{
                    background: gray;
                }
            }
        }
        .userInfo{
            .name-mail{
            }
        }
    }
}

.links{
    padding: 0px 16px;
    *{
        margin: 10px 0px;
    }
}