
<div class="header">
    <i class="material-icons" id="menu-btn" (click)="toggleSidebar()">menu</i>
    <a routerLink="home" class="head1">
        <img src="../../assets/images/yt-icon.png" alt="no image" class="yt-image">
    </a>
    
    <div style="margin: 0px 0px 0px 13vw;">
        <form class="search-form">
            <input type="text" placeholder="Search" class="search-bar" id="search_bar" (input)="search = $event.target.value" 
            [value] = "search" (keyup)="displayAutoComplete($event)">
            <span class="btn-search" (click)="searchVid()">
                <img src="../../assets/images/search-icon.png" alt="no image">
            </span>

            <div class="auto" *ngIf="isSearching">
                <ul>
                    <li *ngFor="let txt of auto">
                        {{txt.toString()}}
                    </li>
                </ul>
            </div>
        </form>
    </div>
    
    <a routerLink="upload" class="upload">
        <i class="material-icons">video_call</i>
    </a>
    <a routerLink="more" class="apps">
        <i class="material-icons">apps</i>
    </a>
    <div class="setting">
        <i class="material-icons" (click)="toggleSetting()" *ngIf="!logged">more_vert</i>
        <div class="notif-container">
            <i class="material-icons" (click)="toggleNotif()" *ngIf="logged">notifications_none</i>

            <div class="notif-modal" *ngIf="isNotifOpen">
                <div class="box">
                    <!-- <div class="header">Notifications</div> -->
                    <div>
                        <div *ngFor="let notif of notifs">
                            <app-notif-box [notif]="notif"></app-notif-box>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

   

    <div class="setting-modal" *ngIf="setting">
        <div class="set-box">
            <div class="restric">
                <div>Resctricted mode</div>
                <input type="checkbox" name="" id="">
            </div>
            <div class="loc">
                <div>Location</div>
                <select name="" id="">
                    <option value="India">India</option>
                    <option value="Indonesia">Indonesia</option>
                    <option value="Thailand">Thailand</option>
                    <option value="United Kingdom">United Kingdom</option>
                    <option value="United States">United States</option>
                </select>
            </div>
            <div class="key" (click)="toggleKey()">Keyboard shortcuts</div>
        </div>
    </div>

    <div class="keyboard-modal" *ngIf="isShortKey">
        <div class="body">
            <div class="sides">
                <div class="title">Playback</div>
                <div class="keys">
                    <div>Toggle play/pause</div>
                    <div>k</div>
                </div>
                <div class="keys">
                    <div>Rewind 10 seconds</div>
                    <div>j</div>
                </div>
                <div class="keys">
                    <div>Fast forward 10 seconds</div>
                    <div>l</div>
                </div>
            </div>
            <div class="sides">
                <div class="title">General</div>
                <div class="keys">
                    <div>Toggle full screen</div>
                    <div>f</div>
                </div>
                <div class="keys">
                    <div>Toggle mute</div>
                    <div>m</div>
                </div>
                <div class="keys">
                    <div>Volume up</div>
                    <div>&uarr;</div>
                </div>
                <div class="keys">
                    <div>Volume down</div>
                    <div>&darr;</div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div (click)="toggleKey()">DISMISS</div>
        </div>
        
    </div>

    <div *ngIf="!loggedUser" class="sign-in-components" (click)="signInModal()">
        <i class="material-icons" >account_circle</i>
        <span class="sign-in-button">SIGN IN</span>
    </div>

    <div class="sign-in-modal" *ngIf="openSignInModal">
        <div (click)="signIn()">Sign in with google</div>
    </div>

    <div *ngIf="loggedUser" class="user-pp">
        <img src="{{loggedUser.profile_picture}}" alt="user photo" (click)="toggleMenu()">
    </div>
    <div class="userMenu" *ngIf="userMenus">
        <div class="userProfile">
            <img src="{{loggedUser.profile_picture}}" alt="user photo">
            <div class="userInfo">
                <div class="name-mail">
                    <div>{{loggedUser.name}}</div>
                    <div>{{loggedUser.email}}</div>
                </div>
                <ul class="listMenu">
                    <li (click)="toChannel()">Your channel</li>
                    <li (click)="toPremium()">Paid memberships</li>
                    <li (click)="signIn()">Switch account</li>
                    <div class="restric">
                        <div>Resctricted mode</div>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="loc">
                        <div>Location</div>
                        <select name="" id="">
                            <option value="India">India</option>
                            <option value="Indonesia">Indonesia</option>
                            <option value="Thailand">Thailand</option>
                            <option value="United Kingdom">United Kingdom</option>
                            <option value="United States">United States</option>
                        </select>
                    </div>
                    <li (click)="toggleKey()">Keyboard shortcuts</li>
                    <li (click)="signOut()">Sign out</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Sidebar -->


<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <div class="side-bar">
        <ul class="side-bar-list">
            <a routerLink="home" (click)="toggleSidebar()">
                <li class="btns">
                    <i class="material-icons">home</i>
                    <span style="padding: 15px;">Home</span>
                </li>
            </a>
            <a routerLink="trending-page" (click)="toggleSidebar()">
                <li class="btns">
                    <i class="material-icons">whatshot</i>
                    <span style="padding: 15px;">Trending</span>
                </li>
            </a>
            <!-- <a routerLink="subscription-page" (click)="checkLogin()"> -->
                <li class="btns" (click)="checkLogin()">
                    <i class="material-icons">subscriptions</i>
                    <span style="padding: 15px;">Subscriptions</span>
                </li>
            <!-- </a> -->
            <br>
                <li class="btns">
                    <i class="material-icons">video_library</i>
                    <span style="padding: 15px;">Library</span>
                </li>
                <li class="btns">
                    <i class="material-icons">history</i>
                    <span style="padding: 15px;">History</span>
                </li>
                <div class="container" *ngFor="let play of firstFivePlay">
                    <a [routerLink]="['/playlist-page', play.id]" routerLinkActive="router-link-active" (click)="toggleSidebar()">
                        <i class="material-icons">playlist_play</i>
                        <div class="name">{{play.title}}</div>
                    </a>
                </div>
                <div *ngIf="isShowPlay">
                    <div class="container" *ngFor="let play of restPlay" >
                        <a [routerLink]="['/playlist-page', play.id]" routerLinkActive="router-link-active" (click)="toggleSidebar()">
                            <i class="material-icons">playlist_play</i>
                            <div class="name">{{play.title}}</div>
                        </a>
                    </div>
                </div>
                <div (click)="togglePlay()">
                    <div class="btns" *ngIf="showMorePlay">
                        <i class="material-icons">keyboard_arrow_down</i>
                        <span style="padding: 15px;">Show more</span>
                    </div>
                    <div class="btns" *ngIf="!showMorePlay">
                        <i class="material-icons">keyboard_arrow_up</i>
                        <span style="padding: 15px;">Show less</span>
                    </div>
                </div>

                <div class="subs"><li class="btns"><span style="padding: 15px;">SUBSCRIPTIONS</span></li></div>
                    <div class="channels">
                        <div class="container" *ngFor="let sub of sideBarSubs">
                            <a [routerLink]="['/channel-app/',sub.id,'home']" routerLinkActive="router-link-active" (click)="toggleSidebar()">
                                <div class="pp"><img src={{sub.profile_picture}} alt=""></div>
                                <div class="name">{{sub.name}}</div>
                            </a>
                        </div>
                        <div *ngIf="isShowMoreSubs">
                            <div class="container" *ngFor="let sub of restSideSubs">
                                <a [routerLink]="['/channel-app/',sub.id,'home']" routerLinkActive="router-link-active" (click)="toggleSidebar()">
                                    <div class="pp"><img src={{sub.profile_picture}} alt=""></div>
                                    <div class="name">{{sub.name}}</div>
                                </a>
                            </div>
                        </div>
                        <div (click)="toggleSubs()">
                            <div class="btns" *ngIf="!isShowMoreSubs">
                                <i class="material-icons">keyboard_arrow_down</i>
                                <span style="padding: 15px;">Show more</span>
                            </div>
                            <div class="btns" *ngIf="isShowMoreSubs">
                                <i class="material-icons">keyboard_arrow_up</i>
                                <span style="padding: 15px;">Show less</span>
                            </div>
                        </div>
                    </div>
                    <li class="btns">
                        <span style="padding: 15px;">Popular on YouTube</span>
                    </li>
                    <li class="btns" (click)="toCategory('Music')">
                        <span style="padding: 15px;">Music</span>
                    </li>
                    <li class="btns" (click)="toCategory('Sport')">
                        <span style="padding: 15px;">Sports</span>
                    </li>
                    <li class="btns" (click)="toCategory('Gaming')">
                        <span style="padding: 15px;">Gaming</span>
                    </li>
                    <li class="btns" (click)="toCategory('Entertainment')">
                        <span style="padding: 15px;">Entertainment</span>
                    </li>
                    <li class="btns" (click)="toCategory('News')">
                        <span style="padding: 15px;">News</span>
                    </li>
                    <li class="btns" (click)="toCategory('Travel')">
                        <span style="padding: 15px;">Travel</span>
                    </li>
                    <a routerLink="premium" (click)="toggleSidebar()">
                        <li class="btns">
                        <span style="padding: 15px;">Youtube premium</span>
                        </li>
                    </a>
                <div class="links">
                    <div><a href="https://www.youtube.com/about/">About</a></div>
                    <div><a href="https://www.youtube.com/t/terms">Terms</a></div>
                    <div><a href="https://www.youtube.com/howyoutubeworks/policies/copyright/">Copyright</a></div>
                    <div><a href="https://www.youtube.com/t/contact_us">Contact us</a></div>
                </div>
        </ul>
    </div>
    
    <div class="gray-screen"></div>