*{
    margin: 0px;
    box-sizing: border-box;
    display: flex;
}

.thumbnail{
    margin: 0px;
    width: 246px;
    height: 138px;
    margin-bottom: 10px;
    margin-right: 10px;
    transition: 0.5s ease;
    &:hover{
        transform: scale(1.1);
        transition: 0.5s ease;
    }
}
.videoBox{
    display: flex;
    width: 60%;
    .dur{
        position: absolute;
        color: white;
        padding: 5px;
        background: black;
        margin-top: 110px;
        margin-left: 210px;
        font-size: 10px;
        border-radius: 3px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .playlistModal{
        background: white;
        box-shadow: 0px 0px 3px black;
        border-radius: 2px;
        position: absolute;
        margin-top: 60px;
        margin-left: 750px;
        display: flex;
        flex-direction: column;
        *{
            display: flex;
            justify-content: flex-end;
            margin: 5px 0px 5px 0px;
            padding: 5px 10px 5px 10px;
            cursor: pointer;
            transition: 0.2s;
            &:hover{
                background: gray;
            }
        }
    }
}

.titleBox{
    margin: 0px;
    width: 311px;
    height: 75px;
    .pp{
        margin: 0px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }
    .info{
        // margin-left: 10px;
        flex-direction: column;
        .playlist{
            width: 40vw;
            display: flex;
            justify-content: space-between;
            .user{
                transition: 0.2s ease;
                &:hover{
                    transform: scale(1.05);
                    text-shadow: 1px 1px 2px gray;
                    cursor: pointer;
                }
            }
            i{
                cursor: pointer;
            }
            .info{
                display: flex;
                flex-direction: row;
                *{
                    margin: 5px;
                }
            }
        }
        .desc{
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }
    .viewDate{
        *{
            margin-right: 5px;
        }
    }
    .title{
        font-family: Helvetica;
        font-size: 1.8rem;
        font-weight: 400;
    }
}