.parent{
    margin-left: 80px;
    .container{
        // display: flex;
        // margin-left: 40px;
        --auto-grid-min-size: 300px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
        grid-gap: 5px;
        overflow: hidden;
    }
    .welcome{
        font-family: Helvetica;
        margin: 25px 0px 25px 0px;
        font-weight: bold;
    }
}