*{
    font-family: Helvetica;
}
.body{
    background: whitesmoke;
}
.banner{
    position: relative;
    width: 100%;
    height: 250px;
    background: rgb(220, 220, 220);
    img{
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    .ico{
        top: 0px;
        right: 0px;
        position: absolute;
        display: flex;
        justify-content: flex-end;
        padding: 20px;
        #pic{
            display: none;
        }
        img{
            padding: 15px;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            background: rgba(128, 128, 128, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0.6;
            transition: 0.1s;
            &:hover{
                opacity: 1;
            }
        }
    }
}

.profile{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;
    width: 75%;
    .detail{
        display: flex;
        align-items: center;
        img{
            width: 50px;
            height: 50px;
            background: gray;
            border-radius: 50%;
            transition: 0.5s ease;
                &:hover{
                    transform: scale(1.05);
                    box-shadow: 2px 2px 3px gray;
                    cursor: pointer;
                }
        }
        .info{
            *{
                margin-left: 10px;
            }
            .uname{
                font-size: 25px;
                transition: 0.5s ease;
                &:hover{
                    transform: scale(1.05);
                    text-shadow: 2px 2px 3px gray;
                    cursor: pointer;
                }
            }
        }
    }
    .buttons{
        display: flex;
        align-items: center;
        i{
            padding: 8px;
            width: 24px;
            height: 24px;
        }
        div{
            padding: 10px 16px;
            background: rgb(204, 0, 0);
            color: white;
            border-radius: 2px;
            font-size: 14px;
            font-weight: 500;
        }
        &:hover{
            cursor: pointer;
        }
    }
}


.channel-home{
    margin-top: 10px;
    padding-left: 13%;
    padding-top: 15px;
    padding-bottom: 15px;
    background: white;
    width: 100%;
    border-bottom: 1px solid;
    .nav-bar{
        display: flex;
        *{
            margin-right: 30px;
            outline: none;
            transition: 0.5s ease;
            &:hover{
                cursor: pointer;
                transform: scale(1.1);
                transition: 0.5s ease;
                box-shadow: 1px 1px 3px gray;
                border-radius: 3px;
            }
        }
    }
}