<div class="body">

    <div class="banner">
        <img src="{{loggedUser.channel_art}}" alt="">
        <div class="ico">
            <input type="file" name="pic" id="pic"(change)="onInputPic($event.target.files)" (url)="setUrl($event)">
            <img src="../../assets/images/cam-ico.png" alt="" onclick="document.getElementById('pic').click();">
        </div>
    </div>
    
    <div class="channel-home">
        <div class="profile">
            <img src="{{loggedUser.profile_picture}}" alt="">
            <div class="info">
                <div class="uname">{{loggedUser.name}}</div>
                <div class="subs">{{loggedUser.subscriber}} subscribers</div>
            </div>
        </div>
        
        <div class="nav-bar">
            <div routerLink="/channel-app/{{id}}/home">HOME</div>
            <div routerLink="/channel-app/{{id}}/videos">VIDEOS</div>
            <div routerLink="/channel-app/{{id}}/playlists">PLAYLISTS</div>
            <div routerLink="/channel-app/{{id}}/community">COMMUNITY</div>
            <div routerLink="/channel-app/{{id}}/about">ABOUT</div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>