*{
    margin: 0px;
    box-sizing: border-box;
    display: flex;
}

.thumbnail{
    margin: 0px;
    width: 100px;
    height: 56px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    &:hover{
        transform: scale(1.1);
        transition: 0.5s ease;
    }
}
.videoBox{
    flex-direction: row;
    .dur{
        position: absolute;
        color: white;
        padding: 5px;
        background: black;
        margin-top: 65px;
        margin-left: 135px;
        font-size: 10px;
        border-radius: 3px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
}

.titleBox{
    margin: 0px;
    width: 311px;
    height: 75px;
    .pp{
        margin: 0px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }
    .info{
        width: 220px;
        margin-left: 10px;
        flex-direction: column;
    }
    .viewDate{
        *{
            margin-right: 5px;
        }
    }
    .title{
        font-size: 14px;
        font-family: Helvetica;
        font-weight: 550;
    }
}