.container{
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .ruLabel{
        font-weight: bold;
        font-family: Helvetica;
        display: flex;
        .pa{
            margin-left: 50px;
            cursor: pointer;
        }
    }
}

.randLabel{
    margin-left: 80px;
    font-weight: bold;
    font-family: Helvetica;
    display: flex;
    align-items: center;
    .pa{
        margin-left: 50px;
        cursor: pointer;
    }
}

.line{
    border-bottom: 0.5px solid;
}
.video-container{
    margin: 10px;
}

.auto-grid{
    margin-left: 80px;
    --auto-grid-min-size: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 5px;
    overflow: hidden;
}