<div class="grand-parent">
    <div class="parent">
        <div class="pp">
            <img src="{{channel.channel_icon}}" alt="">
        </div>
        <div class="info">
            <div class="name">{{channel.name}}</div>
            <div class="channelSubs">
                <div class="subs">{{channel.subscriber}} subscribers</div>
                <div class="vidCount"></div>
            </div>
            <div class="desc">
                <div>{{channel.channel_description}}</div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <div [style.background]="isSub ? 'gray' : 'red'" (click)="subscribe()">{{subsLabel}}</div>
        <i class="material-icons" id="notif-btn" *ngIf="isSub">notifications_none</i>
        <!-- <i class="material-icons" id="notif-btn">notifications_active</i>
            <i class="material-icons" id="notif-btn">notifications_off</i> -->
    </div>

</div>