*{
    margin-left: 80px;
    font-family: Helvetica;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.video-container{
    margin: 10px;
}

.footer-scroll{
    height: 10px;
    width: 100%;
}