<div class="parent">
    <div class="banner">
        <img src="../../assets/images/yt-premium.png" alt="">
        <div class="greet">
            <span>YouTube and YouTube Music ad-free,</span>
            <span>offline, and in the background</span>
        </div>
        <div class="buy">
            <div>GET YOUTUBE PREMIUM</div>
        </div>
        <div class="regis">
            <div class="billing">IDR {{price}}.0/{{plan}}</div>
            <div class="plan">
                <div (click)="setPlan('monthly')">Monthly</div>
                <div (click)="setPlan('annually')">Annually</div>
            </div>
        </div>
        <div class="restric">Restrictions apply. Learn more here</div>
    </div>

    <div class="benefitSection">
        <div class="b">
            <img src="../../assets/images/yt-play.png" alt="">
            <div>View premium videos</div>
        </div>
        <div class="b">
            <img src="../../assets/images/yt-view.png" alt="">
            <div>View not yet published</div>
            <div>or scheduled videos</div>
        </div>
        <div class="b">
            <img src="../../assets/images/yt-downloads.png" alt="">
            <div>Download videos</div>
        </div>
    </div>
</div>