.parent{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.3px solid rgba(128, 128, 128, 0.562);
    transition: 0.2s ease;
    &:hover{
        background: rgb(111, 111, 111);
    }
    .setting{
        margin: 10px 0px 0px 0px;
        opacity: 0.3;
        transition: 0.2s;
        &:hover{
            opacity: 1;
        }
    }
    .vid{
        display: flex;
        .thumbnail{
            img{
                width: 96px;
                height: 54px;
                background: greenyellow;
            }
        }
        .info{
            margin-left: 10px;
            .title{
                font-weight: bold;
                margin: 0px 0px 5px 0px;
            }
            .user{
                font-size: 13px;
            }
        }
    }
    &:hover{
        background: rgb(230, 230, 230);
        cursor: pointer;
    }
    .playlistModal{
        // width: 150px;
        // height: 50px;
        background: white;
        box-shadow: 0px 0px 3px black;
        border-radius: 2px;
        position: absolute;
        margin-top: 50px;
        margin-left: 40%;
        display: flex;
        flex-direction: column;
        *{
            display: flex;
            justify-content: flex-end;
            margin: 5px 0px 5px 0px;
            padding: 5px 10px 5px 10px;
            cursor: pointer;
            transition: 0.2s ease;
            &:hover{
                transition: 0.2s ease;
                background: gray;
            }
        }
    }
}