<div class="parent">
    <div class="vid">
        <div class="thumbnail" *ngIf="video">
            <a [routerLink]="['/video-player-page', video.id]" routerLinkActive="router-link-active" >
                <img src="{{video.thumbnail}}" alt="">
                <video src="{{video.url}}" id="vid" style="display: none;" (loadedmetadata)="setDur($event)"></video>
                <div class="dur">{{durString}}</div>
            </a>
            </div>
            <div class="info" *ngIf="userProfile">
                <div class="title">{{video.title}} ({{type}})</div>
                <div class="view">{{views}} views  {{video.date | dateAgo}}</div>
                <div class="user">{{video.description}}</div>
                <div class="user">{{userProfile.name}}</div>
            </div>
        </div>
        <div class="setting">
            <i class="material-icons" id="more-btn" (click)="toggleModal()">more_vert</i>
        </div>
        
        <div class="playlistModal" *ngIf="modal">
            <div (click)="addToQueue()">Add to queue</div>
            <div (click) = "routerToPlaylistModal()">Save to playlist</div>
            <div (click)="removeVideo()" *ngIf="canEdit">Remove from playlist</div>
        </div>
    </div>


<app-playlist-modal [isVisible]="playlist_modal" [vid]="video" (closePlaylist)="routerToPlaylistModal()"></app-playlist-modal>