.parent{
    display: flex;
    margin-top: 10px;
    .video-screen{
        margin-left: 80px;
        .commentSection{
            border-top: 0.5px solid gray;
            font-family: Helvetica;
            .total-sort{
                margin-top: 16px;
                margin-bottom: 16px;
                display: flex;
                align-items: center;
                .sort{
                    display: flex;
                    margin-left: 20px;
                    align-items: center;
                    *{
                        margin-right: 5px;
                    }
                }
            }
            .commentInput{
                display: flex;
                align-items: center;
                :focus{
                    color: blue;
                    transition: 0.5s;
                }
                #commentTA{
                    border: none;
                    margin-left: 10px;
                    border-bottom: 1px solid;
                    width: 100%;
                    outline: none;
                    padding-bottom: 5px;
                }
                img{
                    width: 40px;
                    height: 40px;
                }
            }
            .submitComment{
                display: flex;
                justify-content: flex-end;
                width: 100%;
                button{
                    padding: 8px 12px 8px 12px;
                    border: none;
                    outline: none;
                    border-radius: 2px;
                    transition: 0.2s;
                    font-weight: 600;
                    color: white;
                    background: rgba(0, 0, 0, 0.2);
                    &:hover{
                        background: blue;
                        color: white;
                    }
                }
            }
        }
        .desc_part{
            margin-left: 60px;
            margin-bottom: 20px;
        }
        .profile_info{
            padding: 16px 0px 16px 0px;
            display: flex;
            align-items: center;
            .detail_info{
                margin: 12px;
            }
            .profilePart2{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                .subNotif{
                    display: flex;
                    align-items: center;
                    #notif-btn{
                        margin-left: 10px;
                    }
                    button{
                        padding: 8px 12px 8px 12px;
                        border: none;
                        outline: none;
                        border-radius: 2px;
                        transition: 0.2s;
                        font-weight: 600;
                        color: white;
                        background: red;
                            &:hover{
                                background: red;
                                color: white;
                            }
                    }
                }
            }
        }
        .profile_pic{
            border-radius: 50%;
            width: 48px;
            height: 48px;
        }
        #video-player{
            z-index: -1;
            width: 960px;
            height: 540px;
        }
        .title{
            font-family: Helvetica;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .viewInfo{
            display: flex;
            font-size: 13px;
            justify-content: space-between;
            font-family: Helvetica;
            color: gray;
            padding-bottom: 10px;
            border-bottom: 0.5px solid;
            width: 100% ;
            *{
                margin-right: 5px;
            }
            .responses{
                display: flex;
                align-items: center;
            }
            #reply-btn{
                transform: scaleX(-1);
            }
        }
    }
    .container{
        margin: 10px;
        margin-left: 20px;
        width: 25%;
        .autoPlay{
            display: flex;
            align-items: center;
            justify-content: space-between;
            top: 50%;
            left: 50%;
            .TxtNext{
                font-family: Helvetica;
            }
            .toggle{
                display: flex;
                align-items: center;
                .TxtAuto{
                    font-family: Helvetica;
                    cursor: pointer;
                }
                #checkbox{
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
        input[type="checkbox"]{
            position: relative;
            width: 30px;
            height: 15px;
            -webkit-appearance: none;
            border-radius: 20px;
            outline: none;
            box-shadow: inset 0 0 5px rgba($color: #000000, $alpha: 0.6);
            transition: 0.2s;
        }
        input:checked[type="checkbox"]{
            background: rgba(132, 0, 255, 0.653);
        }
        input[type="checkbox"]:before{
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            border-radius: 20px;
            top: 0;
            left: 0;
            background: whitesmoke;
            transform: scale(1.1);
            transition: 0.2s;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
        }
        input:checked[type="checkbox"]:before{
            left: 15px;
        }
    }
}