.parent{
    display: flex;
    margin-top: 10px;
    .video-screen{
        margin-left: 80px;
        .playlistModal{
            background: white;
            box-shadow: 0px 0px 3px black;
            border-radius: 2px;
            position: absolute;
            margin-top: 25px;
            margin-left: 850px;
            display: flex;
            flex-direction: column;
            *{
                display: flex;
                justify-content: flex-end;
                margin: 5px 0px 5px 0px;
                padding: 5px 10px 5px 10px;
                cursor: pointer;
                transition: 0.2s;
                &:hover{
                    background: gray;
                }
            }
        }
        .commentSection{
            border-top: 0.5px solid gray;
            font-family: Helvetica;
            .total-sort{
                margin-top: 16px;
                margin-bottom: 16px;
                display: flex;
                align-items: center;
                .sort{
                    display: flex;
                    margin-left: 20px;
                    align-items: center;
                    transition: 0.5s ease;
                    *{
                        margin-right: 5px;
                    }
                    &:hover{
                        cursor: pointer;
                        background: rgb(147, 147, 147);
                        text-shadow: 1px 1px 3px rgb(255, 255, 255);
                        border-radius: 3px;
                    }
                }
                .sortType{
                    width: 110px;
                    height: 70px;
                    box-shadow: 0px 0px 5px gray;
                    position: absolute;
                    background: white;
                    margin-left: 100px;
                    margin-top: 125px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 10px 0px;
                    *{
                        font-size: 14px;
                        padding: 0px 16px;
                        position: relative;
                        padding: 10px;
                        transition: 0.3s ease;
                        display: flex;
                        justify-content: center;
                        &:hover{
                            cursor: pointer;
                            background: rgb(147, 147, 147);
                            text-shadow: 1px 1px 3px rgb(255, 255, 255);
                        }
                    }
                }
            }
            .commentInput{
                display: flex;
                align-items: center;
                :focus{
                    color: blue;
                    transition: 0.5s;
                }
                #commentTA{
                    border: none;
                    margin-left: 10px;
                    border-bottom: 1px solid;
                    width: 100%;
                    outline: none;
                    padding-bottom: 5px;
                }
                img{
                    width: 40px;
                    height: 40px;
                    transition: 0.5s ease;
                    
                }
            }
            .submitComment{
                display: flex;
                justify-content: flex-end;
                width: 100%;
                button{
                    padding: 8px 12px 8px 12px;
                    border: none;
                    outline: none;
                    border-radius: 2px;
                    transition: 0.2s;
                    font-weight: 600;
                    color: white;
                    background: rgba(0, 0, 0, 0.2);
                    &:hover{
                        background: blue;
                        color: white;
                    }
                }
            }
        }
        .desc_part{
            margin-left: 60px;
            margin-bottom: 20px;
        }
        .profile_info{
            padding: 16px 0px 16px 0px;
            display: flex;
            align-items: center;

            .detail_info{
                margin: 12px;
                .username{
                    transition: 0.3s ease;
                    &:hover{
                        transform: scale(1.01);
                        text-shadow: 2px 2px 3px gray;
                        cursor: pointer;
                    }
                }
            }
            .profilePart2{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                .subNotif{
                    display: flex;
                    align-items: center;
                    transition: 0.2s;
                    i{
                        &:hover{
                            transition: 0.5s ease;
                            cursor: pointer;
                            transform: scale(1.1);
                            transition: 0.5s ease;
                        }
                    }
                    #notif-btn{
                        margin-left: 10px;
                    }
                    button{
                        padding: 8px 12px 8px 12px;
                        border: none;
                        outline: none;
                        border-radius: 2px;
                        transition: 0.2s;
                        font-weight: 600;
                        color: white;
                        background: red;
                        transition: 0.5s ease;
                            &:hover{
                                background: red;
                                color: white;
                                    transition: 0.5s ease;
                                    cursor: pointer;
                                    transform: scale(1.1);
                                    box-shadow: 2px 2px 5px gray;
                            }
                    }
                }
            }
        }
        .profile_pic{
            border-radius: 50%;
            width: 48px;
            height: 48px;
            transition: 0.5s ease;
            &:hover{
                transform: scale(1.01);
                box-shadow: 2px 2px 3px gray;
                cursor: pointer;
            }
        }
        #video-player{
            z-index: -1;
            width: 960px;
            height: 540px;
        }
        .premium-cover{
            font-family: Helvetica;
            z-index: 2202;
            position: absolute;
            width: 960px;
            height: 540px;
            color: white;
            background: rgb(121, 121, 121);
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-shadow: 1px 1px 10px black;
        }
        .title{
            font-family: Helvetica;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .viewInfo{
            display: flex;
            font-size: 13px;
            justify-content: space-between;
            font-family: Helvetica;
            color: gray;
            padding-bottom: 10px;
            border-bottom: 0.5px solid;
            width: 100% ;
            *{
                margin-right: 5px;
            }
            .responses{
                display: flex;
                align-items: center;
                *{
                    // margin-left: 10px;
                }
                .slide{
                    .slider {
                        -webkit-appearance: none;
                        background: whitesmoke;
                        outline: none;
                        overflow: hidden;
                        box-shadow: inset 0 0 5px rgb(216, 216, 216);
                        transition: 0.5s ease;
                        animation: 0.5s ease;
                    }
                    .slider::-webkit-slider-thumb{
                        -webkit-appearance: none;
                        width: 0px;
                        height: 4px;
                        border: 0.1px solid rgb(90, 90, 90);
                        box-shadow: -400px 0 0 400px rgb(90, 90, 90);
                    }
                }
                .like{
                    .likes{
                        display: flex;
                        justify-content: space-around;
                        div{
                            display: flex;
                            align-items: center;
                        }
                    }
                }
                #like-btn{
                    &:hover{
                        cursor: pointer;
                    }
                }
                #dislike-btn{
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            #reply-btn{
                transform: scaleX(-1);
            }
        }
    }
    .container{
        margin: 10px;
        margin-left: 20px;
        width: 25%;
        .queue-container{
            width: 400px;
        }
        .queue-box{
            width: 400px;
            font-family: Helvetica;
            padding: 10px 0px;
            border: 0.5px solid black;
            margin: 10px 0px;
            .header{
                div{
                    padding: 0px 10px;
                }
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 400px;
                height: 50px;
                *{
                    transition: 0.3s ease;
                    &:hover{
                        cursor: pointer;
                        margin-bottom: 5px;
                        text-shadow: 1px 1px 3px gray;
                    }
                }
            }
        }
        .autoPlay{
            display: flex;
            align-items: center;
            justify-content: space-between;
            top: 50%;
            left: 50%;
            .TxtNext{
                font-family: Helvetica;
            }
            .toggle{
                display: flex;
                align-items: center;
                .TxtAuto{
                    font-family: Helvetica;
                    cursor: pointer;
                }
                #checkbox{
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
        input[type="checkbox"]{
            position: relative;
            width: 30px;
            height: 15px;
            -webkit-appearance: none;
            border-radius: 20px;
            outline: none;
            box-shadow: inset 0 0 5px rgba($color: #000000, $alpha: 0.6);
            transition: 0.2s;
        }
        input:checked[type="checkbox"]{
            background: rgba(132, 0, 255, 0.653);
        }
        input[type="checkbox"]:before{
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            border-radius: 20px;
            top: 0;
            left: 0;
            background: whitesmoke;
            transform: scale(1.1);
            transition: 0.2s;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
        }
        input:checked[type="checkbox"]:before{
            left: 15px;
        }
    }
}

.share{
    width: 470px;
    height: 260px;
    max-height: 674px;
    max-width: 962px;
    outline: none;
    z-index: 2202;
    position: fixed;
    top: 182.7px;
    left: 222px;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    // position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    .content{
        img{
            width: 60px;
            height: 60px;
        }
    }
    .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 16px;
        .font{
            font-size: 16px;
        }
        i{
            cursor: pointer;
        }
    }
    .url{
        padding: 16px;
        background: rgb(187, 187, 187);
        max-width: 440px;
        max-height: 260px;
    }
}

.footer-scroll{
    height: 10px;
    width: 100%;
}